.right{
  border: 1px solid black;
  width: 280px;
  height: 650px;
  float: right;
}

.one{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 5px;
  padding: 2px;
}

.two{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  text-align: center;
  line-height: 6px;
}

.list{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  float: left;
}

.amount{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  text-align: right;
}

.final{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: right;
}
