.box1{
  height: 290px;
  width: 400px;
  border: 1px solid black;
  position: absolute;
  top: 500px;
  }

.box2{
  height: 290px;
  width: 400px;
  border: 1px solid black;
  position: absolute;
  top: 500px;
  left: 417px;
  }

  .box3{
    height: 290px;
    width: 400px;
    border: 1px solid black;
    position: absolute;
    top: 500px;
    left: 825px;
    }

.aesopimg{
  width: 180px;
  text-align: left;
}

.one{
  font-family: 'Ubuntu Mono', monospace;
  font-size: 12px;
  line-height: 3px;
}

.two{
  font-family: 'Ubuntu Mono', monospace;
  font-size: 12px;
  line-height: 3px;
}

.qty{
  font-family: 'Ubuntu Mono', monospace;
  font-size: 12px;
  float: left;
  width: 10px;
}

.price{
  font-family: 'Ubuntu Mono', monospace;
  font-size: 12px;
  float: right;
}

.item{
  font-family: 'Ubuntu Mono', monospace;
  font-size: 12px;
  text-align: left;
  width: 130px;
  margin-left: 100px;
}

.three{
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  float: left;
}

.three2{
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  text-align: right;
}

.tax{
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  text-align: right;
}

.melanie{
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  text-align: left;
}

.please{
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  text-align: left;
  width: 350px;
}

.ref{
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  text-align: left;
}

.barcode{
  width: 200px;
}
